body {
  background-color: green;
}

div {
  color: blue;
  width: 33%;
}

div {
  color: blue;
}
.col {
  color: pink;
  width: 200px;
  height: 400px;
  background-color: yellow;
  border: 1x dotted orange;
}
