p {
  color: blue;
  font-size: 20px;
  font-style: italic;
  line-height: 22px;
}
h1 {
  /*
  margin: 100px; */
  margin-top: 50px;
  margin-bottom: 75px;
  margin-left: 50px;
  margin-right: 50px;
  /* color: RGB{74, 169, 80} : */
  border: solid 5px red;
  padding: 21px;
}

div {
  width: 100px;
  height: 100px;
}

li {
  font-weight: 900;
}

h2 {
  rule: something;
}
